# Disable GPIO manipulation
CONFIG_BL5340_GPIO_ALLOW_PIN_CHANGES=n

# Enable all peripherals
CONFIG_BL5340_I2C_BME680=y
CONFIG_BL5340_I2C_FT5336=y
CONFIG_BL5340_I2C_GT24C256C=y
CONFIG_BL5340_I2C_LIS3DH=y
CONFIG_BL5340_I2C_MCP4725=y
CONFIG_BL5340_I2C_MCP7904N=y
CONFIG_BL5340_I2C_TCA9538=y
CONFIG_BL5340_NFC=y
CONFIG_BL5340_QSPI_MX25R6435=y
CONFIG_BL5340_SPI_ENC424J600=y
CONFIG_BL5340_SPI_ILI9340=y

CONFIG_NET_CONFIG_MY_IPV4_ADDR="192.0.2.1"
CONFIG_NET_CONFIG_PEER_IPV4_ADDR="192.0.2.2"
