# Copyright (c) 2021 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

menu "BL5340 Application Core Common"
rsource "../../common/application_core_common/Kconfig"
endmenu

menu "BL5340 RPC Components"
rsource "../../common/rpc/Kconfig"
endmenu
