# Copyright (c) 2021 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menu "Vibration Demo"

config APP_AXIS_X_ENABLED
	bool "X axis monitoring/output"

config APP_AXIS_Y_ENABLED
	bool "Y axis monitoring/output"

config APP_AXIS_Z_ENABLED
	bool "Z axis monitoring/output"

config APP_SAMPLING_FREQUENCY_HZ
	int "Sample frequency (Hz)"
	range 1 200
	default 200

endmenu

source "Kconfig.zephyr"
